body{
	font-family: "Poppins", sans-serif;
	margin: 0;
	padding: 18px 8px 8px 8px;
}

h1{
	font-family: "PoppinsThin", sans-serif;
	font-size: 3.5em;
	padding: 0;
	margin: 0;
	text-align: center;
	cursor: default;
	user-select: none;
}

#form{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}


#result span{
	font-family: "PoppinsBold", sans-serif;
}

#copyToClipboard{
	box-sizing: border-box;
	cursor: pointer;
	background: #46c5b5;
	border-radius: 2rem;
	text-align: center;
	padding:5px 10px;
	width: max-content;
	margin: auto;
}

input{
	font-family: "Poppins", sans-serif;
	border: none;
	border-bottom: solid black 1px;
	cursor: text;
}
input:not(:valid){
	border-bottom: solid red 1px;
}

#tempusBtn{
	background: #46c5b5;
	font-size: 1.5em;
	text-align: center;
	cursor: pointer;
	color: white;
	font-family: "PoppinsBold", sans-serif;
	opacity: 0.75;
	transition: opacity 250ms;
}

#tempusBtn:hover{
	opacity: 1;
}

.error{
	color:red;
}

#options{
	border: solid 2px #000;
	cursor: pointer;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 5px;
	right: 5px;
	border-radius: 50%;
	padding: 5px;
	transition: transform 350ms;
}

#options:hover{
	transform: scale(1.15);
}

#options > img{
	width: 100%;
	height: 100%;
	position: relative;
}
